<nav class="fixed-top navbar-expand-lg">
    <ul class="navbarlist">
    
        <li class="leftfloat logo"> <a class="menus" href="index.html"><img src="logo.png" width="65px"></a></li>
        <li class="leftfloat">  <a class="menus" href="index.html" style="font-size: 40px;" >Mini Bakers</a></li>
        <li class="rightfloat"> <a class="menus pd" href="contact.html">Contact Us</a></li>
        <li class="rightfloat"> <a class="menus pd" href="testimonials.html">Testimonials</a></li>
        <li class="rightfloat nav-item dropdown">
        <a class="pd menus active nav-link dropdown-toggle" role="button" href="{% url 'products' %}" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for product_type in categories %}
            <a class="dropdown-item" href="{% url 'products' %}#{{product_type.name}}">{{product_type.name}}</a>
            {% endfor %}
        </li>
        <li class="rightfloat"> <a class="menus pd" href="about.html">About Us</a></li>
        <li><a class="rightfloat menus pd" href="{% url 'home' %}">Home</a></li>
    </ul>
</nav>